<div class="ibox float-e-margins">
  <div class="ibox-content">
    <div class="scroll_content">
      <h2>Items</h2>
      <div class="hr-line-dashed"></div>
      <% if @items.present? %>
        <% @items.each do |item| %>
          <div class="search-result">
            <h3><%= link_to item.FMTITEMNO, item %></h3>
            <a href="#" class="search-link"><%= item.CATEGORY %></a>
            <p><%= item.DESC %></p>
          </div>
          <div class="hr-line-dashed"></div>
        <% end %>
      <% else %>
        No matches found!
      <% end %>
    </div>
  </div>
</div>
