<h1 class="page-header">Items by Locations</h1>

<table id="datatable" class="table table-striped table-hover display" data-source="<%= accpac_iciloc_index_url(format: "json") %>">
   <thead>
      <tr>
         <th>Item Code</th>
         <th data-orderable="false">Description</th>
         <th>Location</th>
         <th data-orderable="false">Orig.Order</th>
         <th data-orderable="false">Qty S.Order</th>
         <th data-orderable="false">Qty Offset</th>
         <th data-orderable="false">Cost Offset</th>
         <th>Qty on Hand</th>
         <th>Qty Commit</th>
      </tr>
   </thead>
   <tbody>
   </tbody>
</table>
