<div class="ibox float-e-margins">
  <div class="ibox-content">
    <div>
      <span class="pull-right text-right">
        <small>From: <strong>All Distribution Centers</strong></small>
      </span>
      <h3 class="font-bold no-margins">
        Sales by Countries
      </h3>
      <small>Net Sales by countries</small>
    </div>

    <div class="m-t-sm">
      <div class="row">
        <div class="col-md-12">
          <%= geo_chart charts_sales_consolidated_net_sales_by_countries_path, label: "USD", height: "550px" %>
        </div>
      </div>
    </div>
  </div>
</div>
