<div id="item_purchase_orders_history_grid" style="height: 100%" class="ag-theme-balham"
  data-item_purchase_orders_history_path="<%= purchase_orders_history_accpac_icitem_index_path(id: params[:id], format: "json") %>">
</div>
