<div id="item_sales_history_grid" style="height: 100%" class="ag-theme-balham" 
  data-item_sales_history_path="<%= sales_history_accpac_icitem_index_path(id: params[:id], format: "json") %>">
</div>
