<div class="panel-body">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Calendar</h5>
    </div>
    <div class="ibox-content">
      <div id='remote_container'></div>
      <div class="calendar"></div>
    </div>
  </div>
</div>
