<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-6">
    <h2>Purchase Orders</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        Purchase Orders
      </li>
      <li class="active">
        <b>Open Purchase Orders Details</b>
      </li>
    </ol>
  </div>
  <div class="col-lg-6 text-right" style="margin-top: 20px;">
    <%= render 'actions' unless current_user.accpac_role != 'purchasing' %>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Open Purchase Orders Orders</h5>
          <div class="ibox-tools">
            <a class="fullscreen-link">
              <i class="fa fa-expand"></i>
            </a>
          </div>
        </div>
	      <div class="ibox-content" style="height: 75vh;">
          <div id="open_purchase_orders_grid" class="ag-theme-balham" style="height: 100%;" 
            data-open_purchase_orders_path= "<%= open_purchase_orders_accpac_poporh1_index_path(format: "json") %>">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal inmodal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>
