<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-6">
    <h2>Order Entry</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        Order Entry
      </li>
      <li class="active">
        Sales Orders
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Sales Orders</h5>
        </div>
        <div class="ibox-content">
          <%= render 'index' %>
        </div>
      </div>
    </div>
  </div>
</div>
