<%= link_to picklabels_vs_actionqty_path do %>
  <div class="widget style1 yellow-bg">
    <div class="row">
      <div class="col-xs-4">
        <i class="fa fa-warning fa-5x"></i>
      </div>
      <div class="col-xs-8 text-right">
        <span> Picks Labels / Action Qty </span>
        <h2 class="font-bold"><%= picklabels_without_action.count %></h2>
      </div>
    </div>
  </div>
<% end %>
