<%= link_to item_vendors_path do %>
  <div class="widget style1 navy-bg">
    <div class="row">
      <div class="col-xs-4">
        <i class="fa fa-cubes fa-5x"></i>
      </div>
      <div class="col-xs-8 text-right">
        <span> Items </span>
        <h2 class="font-bold"><%= vendor_items_counter %></h2>
      </div>
    </div>
  </div>
<% end %>
