<div class="ibox float-e-margins">
  <div class="ibox-content">
    <div>
      <h3 class="font-bold no-margins">
        Sales by Countries
      </h3>
      <small>YTD Net Sales by countries</small>
    </div>

    <div class="m-t-sm">
      <div class="row">
        <div class="col-md-12">
          <%= geo_chart charts_sales_orders_ytd_net_sales_geochart_path, label: company_currency %>
        </div>
      </div>
    </div>

    <div class="m-t-md">
      <small class="pull-right">
        <i class="fa fa-clock-o"> </i>
        Update every 60 seconds.
      </small>
    </div>
  </div>
</div>
