<%= link_to backorders_accpac_oeordh_index_path do %>
  <div class="widget style1 red-bg">
    <div class="row">
      <div class="col-xs-4">
        <i class="fa fa-tasks fa-5x"></i>
      </div>
      <div class="col-xs-8 text-right">
        <span> Backorders </span>
        <h2 class="font-bold"><%= backorders_counter %></h2>
      </div>
    </div>
  </div>
<% end %>
