<%= link_to accpac_arcus_path do %>
  <div class="widget style1 lazur-bg">
    <div class="row">
      <div class="col-xs-4">
        <i class="fa fa-users fa-5x"></i>
      </div>
      <div class="col-xs-8 text-right">
        <span> Customers </span>
        <h2 class="font-bold"><%= sales_rep_customers_counter %></h2>
      </div>
    </div>
  </div>
<% end %>
