<%= link_to documents_path do %>
  <div class="widget style1 navy-bg">
    <div class="row">
      <div class="col-xs-4">
        <i class="fa fa-book fa-5x"></i>
      </div>
      <div class="col-xs-8 text-right">
        <span> Documents </span>
        <h2 class="font-bold"><%= documents_counter %></h2>
      </div>
    </div>
  </div>
<% end %>
