<table class="table table-hover no-margins">
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Dense</th>
      <th>Coverage</th>
    </tr>
  </thead>
  <tbody>
    <% Views::ItemCompanyDetail.low_stock_a_items.each do |i| %>
      <tr>
        <td><small><%= link_to i.FMTITEMNO, accpac_icitem_path(id: i.ITEMNO.squish!), target: "_blank" %></small></td>
        <td><%= i.DESC %></td>
        <td><%= i.dense_sales_rank %></td>
        <td class="text-navy" align="right"><%= number_with_precision(i.COVERAGE, precision: 1) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
