<%= link_to shipping_references_path do %>
  <div class="widget style1 blue-bg">
    <div class="row">
      <div class="col-xs-4">
        <i class="fa fa-truck fa-5x"></i>
      </div>
      <div class="col-xs-8 text-right">
        <span> Shipping References </span>
        <h2 class="font-bold"><%= shipping_references_counter %></h2>
      </div>
    </div>
  </div>
<% end %>
