<div class="ibox">
  <div class="ibox-content">
    <h5><%= t('widgets.ytd_margin') %></h5>
    <h1 class="no-margins"><%= number_to_currency(ytd_margin_current_year, precision: 0) %></h1>
    <%= ytd_margin_percentage %>
    <small>Diff Last Year</small>
  </div>
</div>
