<table id="datatable" style="width:100%" class="table table-striped table-hover" data-source="<%= accpac_apven_index_path(format: "json") %>">
  <thead>
    <tr>
      <th>Vendor ID</th>
      <th>Vendor Name</th>
      <th>Group</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
