<table id="datatable" style="width:100%" class="table table-striped table-hover" data-source="<%= accpac_porcph1_index_url(format: "json") %>">
  <thead>
    <tr>
      <th>Date</th>
      <th>Receipt No.</th>
      <th>PO No.</th>
      <th>Vendor Code</th>
      <th>Vendro Name</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
