<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Order Entry</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        Order Entry
      </li>
      <li class="active">
        Invoices
      </li>
    </ol>
  </div>

  <div class="col-lg-4">
    <div class="title-action">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal5">
        <i class="fa fa-search"></i>&nbsp;Search</button>
      </button>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Invoices</h5>
          <div class="ibox-tools">
            <a class="fullscreen-link">
              <i class="fa fa-expand"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content" style="height: 75vh;">
          <div id="invoice_report" style="height: 100%" class="ag-theme-balham" data-invoice_report_path="<%= results_accpac_oeinvh_index_path(start_date: params[:start_date], end_date: params[:end_date], loc: params[:loc], format: "json") %>"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">
            Close
          </span>
        </button>
      <h4 class="modal-title">Invoices</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <%= render 'search' %>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>