<div class="ibox float-e-margins">
  <div class="ibox-content">
    <div>
      <h3 class="font-bold no-margins">
        Sales by Countries
      </h3>
      <small>Net Sales by countries</small>
    </div>

    <div class="m-t-sm">
      <div class="row">
        <div class="col-md-12">
          <%= geo_chart charts_sales_analysis_net_sales_by_countries_path, label: company_currency, height: "550px" %>
        </div>
      </div>
    </div>
  </div>
</div>
