<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-6">
    <h2>Queries</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        Queries
      </li>
      <li class="active">
        <b>New</b>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>New Query</h5>
        </div>
        <div class="ibox-content">
          <%= render 'form' %>
          <div class="col-md-12" id="statement"></div>
        </div>
      </div>
    </div>
  </div>
</div>
