<table id="datatable" style="width:100%" class="table table-striped table-hover display" data-source="<%= accpac_ictreh_index_url(format: "json") %>">
   <thead>
      <tr>
         <th>Sequence</th>
         <th>Doc. Number</th>
         <th>User</th>
         <th>Trans. Date</th>
         <th>From Doc.</th>
      </tr>
   </thead>
   <tbody>
   </tbody>
</table>
