<div class="ibox float-e-margins">
  <div class="ibox-content">
    <div>
      <h3 class="font-bold no-margins">
        Sales Order Entered by Users | Monthly
      </h3>
    </div>
    <div class="m-t-sm">
      <div class="row">
        <div class="col-md-12">
          <div>
            <%= column_chart charts_sales_orders_monthly_orders_by_users_path, height: "450px", thousands: ",", curve: false, legend: "right", adapter: "highcharts" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
