<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-6">
    <h2>Purchases Analysis</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
			</li>
			<li>
				vAnalytics
			</li>
      <li class="active">
        <b>Purchases Analysis</b>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Purchases Analysis</h5>
          <div class="ibox-tools">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a onclick="savePurchasesAnalysisState()">Save State</a></li>
              <li><a onclick="resetPurchasesAnalysisState()">Reset State</a></li>
            </ul>
            <a class="fullscreen-link">
              <i class="fa fa-expand"></i>
            </a>
          </div>
        </div>
	      <div class="ibox-content" style="height: 75vh;">
          <div id="purchases_analysis_grid" class="ag-theme-balham" data-purchases_analysis="<%= purchases_analysis_json_file %>" style="height: 100%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
